<h1><%= @pond.name %> Pond</h1>
<p>water type: <%= @pond.water_type %></p>
<p>Resident frogs and their tadpoles:</p>
<ol>
  <% @pond.frogs.each do |frog| %>
    <li>Frog: <a href="/frogs/<%= frog.id %>"><%= frog.name %></a></li>
      <ol>
        <% frog.tadpoles.each do |tadpole| %>
          <li>Tadpole: <a href="/tadpoles/<%= tadpole.id %>"><%= tadpole.name %></a></li>
        <% end %>
      </ol>
    </li>
  <% end %>
</ol>

<%= link_to "Back", ponds_path %> | 
<a href="/ponds/<%= @pond.id %>/edit">Edit</a> |
<a href="/ponds/<%= @pond.id %>/destroy">Delete</a>
